@font-face {
  font-family: Outfit;
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
  background-color: rgb(11,26,45);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Outfit;
}
p {
  margin: 0;
}